@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Internal
@model vidly.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(Model.Customer.Id == 0 ? "New Customer" : "Editing Customer") </h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please, fix the following errors:")
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(
            m => m.Customer.Name, 
            new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Customer.Name, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.BirthDate)
        @Html.TextBoxFor(
            m => m.Customer.BirthDate,
            "{0:d MMM yyyy}",
            new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Customer.BirthDate, null, new { @class = "text-danger" })
    </div>
    <div class="form-check pl-0">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribe to Newsletter
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()
    <button class="btn btn-primary">Save</button>
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
